body{
	background: url('/images/dark-tile.gif') #000;
	width: 580px;
	margin-left: auto;
	margin-right: auto;
}



.container{

	margin-left: auto;
	margin-right: auto;
	height: 420px;
	width: 580px;
	border: solid #fff 1px;
}

a{
	text-decoration: none;	
}

h1{

	color: red;
	padding: 350px 20px;
	font-family: 'Black Ops One', cursive;
}

.box{
	background: #000000;
	font-family: 'Black Ops One', cursive;
	color: #fff;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	width: 580px;
	border: solid #fff 1px;
}

.box h2{
	color: red;
}

.box ul{
	padding-left: 23px;
}

.box li{
	list-style: none;
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

.box h1, .box h2, .box p{
margin: 20px;
}

.box a{
	color: #ff0000;
}

