body{
background-color: #666;
}



.container{
	background: url('/images/body.jpg') no-repeat;
	margin-left: auto;
	margin-right: auto;
	height: 440px;
	width: 580px;
}

h1{
	
	color: red;
	padding: 350px 20px;
	font-family: 'Black Ops One', cursive;
}